html{
  font-size: 18px;
  font-family: helvetica;
}

/* header section */

.header{
  background-color: black;
}

.title{
  width: 960px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.66rem 0;

}

.header img{
  height: 1.5rem;
  padding: 0 1rem 0 0.5rem;
}

.header p{
  color: white;
  font-size: 1rem;
}


/*       content section      */


/* banner */

.banner{
  background-image: url("https://raw.githubusercontent.com/AJ-2018/SecretAgentSupply/master/resources/images/moto.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25rem;
  display: flex;

}

.arrivals-container{
  width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.arrivals{
  background-color: black;
  width: 20rem;
  color: white;
  margin-top: 9rem;
  margin-bottom: auto;
  padding: 2rem 3rem;
  font-weight: bold;
}

.arrivals p{
  font-size: 1rem;
  padding-bottom: 0.75rem;
}

.arrivals h1{
  font-size: 2rem;
}


/* navigation */

.navigation{
  background-color: firebrick;
  padding: 0.75rem 0;
  color: white;
}

.nav-items{
  width: 960px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.menu{
  display: none;
}


/* items */

.container{
  width: 960px;
  margin: auto;
  margin-top: 3rem;
}

.items{
  display: flex;
  justify-content: space-between;

}

.item{
  width: 30%;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.item img{
  height: 9rem;
  width: 9rem;
  margin: 2rem auto;
}

#glasses img{
  height: auto;
  padding: 4rem 0;
  margin: 0 auto;
}

.item p{
  background-color: black;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
}


/* contact */

.contact{
  width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.location,
  .hours{
  width: 35%;
}

.location-title,
  .hours-title{
  background-color: black;
  padding: 1rem 0 1rem 2rem;
  color: white;
}

.location,
  .hours{
    margin-bottom: 4rem;
}


/*    footer section     */

.footer{
  height: 5rem;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}

.footer p{
  width: 960px;
  margin: auto;
  text-align: left;
}


/*      media queries     */

@media only screen and (max-width: 1024px){
  html{
    font-size: 16px;
  }

  .nav-items{
    display: none;
  }

  .menu{
    display: block;
    text-align: center;
  }

  .arrivals{
    margin-left: 0;
  }

  .item{
    width: 47%;
  }

  #glasses{
    display: none;
  }

}



@media only screen and (max-width: 470px){

  html{
    font-size: 14px;
    max-width: 470px;
    overflow-x: hidden;

  }

  .title{
    width: 470px;
    justify-content: center;


  }

  .header p{
    display: none;
  }

  .arrivals-container{
    width: 470px;
  }


  .arrivals{
    margin-top: 20rem;
    padding: 1rem 2rem;
    width: auto;
    flex-wrap: wrap;
  }

  .arrivals p{
    font-size: 0.77rem;
  }

  .arrivals h1{
    font-size: 1rem;
  }

  .items{
    width: 470px;
  }

  .item{
    width: 80%;
    height: auto;
    margin: 0 2rem 0 2rem;
  }

  #watch,
    #glasses{
      display: none;
    }

  .contact{
    width: 470px;
    flex-direction: column;
  }

  .location,
    .hours{
      width: 82%;
      margin: 0 2rem 0 2rem;
    }

  .location{
      padding-bottom: 1.5rem;
  }

  .hours{
      padding-bottom: 2.5rem;
  }

  .footer p{
      width: 470px;
      text-align: center;
  }


}
